<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Exercicio 1</title>
    <script type="text/javascript" src="angular.js">

    </script>
<!-- 1. **ex1.html:** Implemente uma página que converta a temperatura, dada em Celsius, para Kelvin e Fahrenheit. -->
  </head>
  <body ng-app ng-init="celsius=0">
    <div>
      <b>Celsius:</b><input type="number" ng-model="celsius"/>
    </div>
    <div>
      <b>Kelvin: </b>{{celsius + 273}}<br>
      <b>Fahrenheit: </b>{{celsius*1.8+32}}<br>
    </div>
  </body>
</html>
