  <!DOCTYPE html>
  <html>
    <head>
      <meta charset="utf-8">
      <title>Exercicio 2</title>
      <script type="text/javascript" src="angular.js">

      </script>
    </head>
    <body ng-app ng-init="dolares=1">
      <div>
        <b>Dolar: </b><input type="number" ng-model="dolares"/>
      </div>
      <div>
        <b>Real: </b>{{(dolares*4.1)}}
        <b>Euro: </b>{{(dolares*0.9)}}
      </div>
    </body>
  </html>
