<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Exercicio 3</title>
    <script type="text/javascript" src="angular.js">

    </script>
  </head>
  <body ng-app ng-init="nota=3">
    <!-- 3. **ex3.html:** Implemente um formulário que faça o preenchimento de um *review* de um produto. Esse formulário deverá conter campos para o nº de estrelas (0 a 5) e para o comentário do *review*. Ao preencher os campos, um preview do comentário deve aparecer após o formulário. -->
    <div>
      Nota: <input type="number" max="5" min="0" ng-model="nota"><br>
      Comentário: <input type="text" maxlength="45" ng-model="comentario">
    </div>
    <div>
      <b>Nota: </b>{{nota}}<br>
      <b>Comentário: </b>{{comentario}}<br>
    </div>
  </body>
</html>
