<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
    <script type="text/javascript" src="angular.js">

    </script>
  </head>
  <body ng-app ng-init="salario=1000;imposto=50;">
    <div>
        <b>Salario: </b><input type="number" ng-model="salario">
        <b>Imposto: </b><input type="number" ng-model="imposto">
    </div>
    <div>
      <b>Salario bruto: </b>{{::salario}}
      <b>Roubado</b>{{salario * (imposto / 100)}}
    </div>
  </body>
</html>
